<link href="stylesheets/wishlist.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <button class="btn btn-primary" id="menu-toggle">Menu</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="member-name"></div>
    </div>
</nav>

<div class="col-12 container-fluid">
    <h2 class="welcomeTitles">Wishlist</h2>
    <ul class="wishlist container-fluid overflow-auto">
    </ul>
</div>

<script type="text/javascript" src="js/wishlist.js"></script>
